@use '../utils/variables' as vars;

$theme: light;

body {
  font-family: Arial, sans-serif;
  margin: 0;

  @if $theme ==light {
    background-color: vars.$bg-color;
    color: vars.$text-color;
  }

  @else {
    background-color: vars.$dark-bg-color;
    color: vars.$dark-text-color;
  }

  overflow-x: hidden;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
h1,
h2 {
  margin-bottom: 1rem;
  text-align: center;
}

p,
section {
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 1rem auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}