@use '../utils/variables' as vars;
body {
  font-family: Arial, sans-serif;
  background-color: vars.$bg-color;
  color: vars.$text-color;
  margin: 0;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: vars.$dark-bg-color;
    color: vars.$dark-text-color;
  }
}

h1, h2 {
  margin-bottom: 1rem;
}

p, section {
  margin-bottom: 1rem;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}