@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;

header {
  @include mixins.center;
  flex-direction: column;
  padding: 2rem 0;
  background-color: vars.$primary-color;
  color: white;
  width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: vars.$dark-primary-color;
  }
}