@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;

nav {
  ul {
    list-style: none;
    @include mixins.center;
    gap: 1rem;

    li a {
      text-decoration: none;
      color: white;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: lighten(vars.$primary-color, 20%); 
      }
    }
  }
}